# Project specific
build/
bin/
.env

# Direnv
/.direnv/

# Completion debug files
completion.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor
build

# OS specific
.DS_Store

# IDEs
.vscode

dist/
